@page "/Home"
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation

<h3>Bienvenido, @usuario?.FirstName @usuario?.LastName</h3>

@code {
    Persona usuario;

    protected override async Task OnInitializedAsync()
    {
        usuario = await LocalStorage.GetItemAsync<Persona>("usuario");

        if (usuario == null)
        {
            Navigation.NavigateTo("/login");
        }
    }

    public class Persona
    {
        public int PersonId { get; set; }
        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string PasswordEmail { get; set; } = null!;
        public string Employee { get; set; } = null!;
        public string StatePerson { get; set; } = null!;
    }
}
