@page "/reservaciones"
@inject HttpClient Http

<h3>Reservaciones</h3>

@if (reservaciones == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <ul>
        @foreach (var r in reservaciones)
        {
            <li>@r.Cliente - @r.Fecha.ToShortDateString()</li>
        }
    </ul>
}

@code {
    List<Reservacion> reservaciones;

    protected override async Task OnInitializedAsync()
    {
        reservaciones = await Http.GetFromJsonAsync<List<Reservacion>>("api/reservacion");
    }

    public class Reservacion
    {
        public int Id { get; set; }
        public string Cliente { get; set; }
        public DateTime Fecha { get; set; }
    }
}
